[s3]
type = s3
provider = Other
env_auth = false
access_key_id =  XXXXACCESSKEYXXXX
secret_access_key =  XXXXSECRETKEYXXXX
endpoint = https://XXXXHOSTBASEXXXX
acl = private
region = XXXXLOCATIONXXXX
location_constraint = XXXXLOCATIONXXXX
