[DEFAULT]
default-user = XXXXLINODEACCOUNTUSERNAMEXXXX
[XXXXLINODEACCOUNTUSERNAMEXXXX]
token = XXXXTOKENXXXX
region = XXXXREGIONXXXX
type = g6-nanode-1
image = linode/debian12
mysql_engine = mysql/8.0.30
postgresql_engine = postgresql/14.6
authorized_users = XXXXLINODEACCOUNTUSERNAMEXXXX
