defaultaccount = "XXXXCLOUDEMAILADDRESSXXXX"
[[accounts]]
  account = "XXXXCLOUDEMAILADDRESSXXXX"
  endpoint = "https://api-XXXXREGIONXXXX.exoscale.com/v2"
  defaultZone= "XXXXREGIONXXXX"
  environment = "api"
  key = "XXXXACCESSKEYXXXX"
  name = "XXXXCLOUDEMAILADDRESSXXXX"
  secret = "XXXXSECRETKEYXXXX"
