###############################################################################################
# Refer to: ${BUILD_HOME}/templatedconfigurations/specification.md
###############################################################################################
#This template is configured for temporal style builds

#####MANDATORY - The bare minimum set of values that you need to provide to have any chance of a successful build
#####NOT REQUIRED - isn't used by the Exoscale

#####Application Settings#########
export APPLICATION="" #MANDATORY
export APPLICATION_IDENTIFIER="" #MANDATORY
export JOOMLA_VERSION="" 
export DRUPAL_VERSION=""  
export APPLICATION_BASELINE_SOURCECODE_REPOSITORY="" 
export BASELINE_DB_REPOSITORY=""
export APPLICATION_LANGUAGE="PHP" 
export PHP_VERSION="8.4" 
export BUILD_ARCHIVE_CHOICE="hourly"
export BUILD_CHOICE="2"
export APPLICATION_NAME="Demo Application"


#####S3 Datastore Settings#######
export S3_ACCESS_KEY=""  #MANDATORY
export S3_SECRET_KEY=""  #MANDATORY
export S3_HOST_BASE="sos-ch-gva-2.exo.io" 
export S3_LOCATION="US" #For exoscale, this always needs to be set to "US"
export DATASTORE_CHOICE="exoscale"
export DIRECTORIES_TO_MOUNT="" #This should always be unset for a virgin and baseline deployments
export PERSIST_ASSETS_TO_CLOUD="0" #This should always be set to 0 for a virgin and baseline deployment

#####OS Settings#########
export DEFAULT_USER="debian" # This must be "ubuntu" if you are deploying ubuntu and "debian" if you are deploying debian on Exoscale
export BUILDOS="debian" # One of ubuntu|debian
export BUILDOS_VERSION="12" # One of 20.04 22.04 24.04|10 11 12

######Cloudhost Provider Settings#######
export TOKEN="" #NOT REQUIRED
export ACCESS_KEY=""   #MANDATORY
export SECRET_KEY=""   #MANDATORY
export CLOUDHOST_ACCOUNT_ID=""  #MANDATORY for Exoscale - this should be the account email address that you login to the portal with

######DNS Settings##########
export DNS_USERNAME=""  #MANDATORY
export DNS_SECURITY_KEY=""   #MANDATORY
export DNS_CHOICE="exoscale" #you will need to set your DNS nameservers according to this choice


#####Webserver Settings########
export WEBSITE_DISPLAY_NAME="" #MANDATORY
export WEBSITE_NAME="" #MANDATORY
export WEBSITE_URL=""  #MANDATORY
export WEBSERVER_CHOICE="LIGHTTPD"
export NUMBER_WS="2"

#####Git settings#####
export GIT_USER="Templated User" 
export GIT_EMAIL_ADDRESS="templateduser@dummyemailZ123.com" 

#####Infrastructure Repository Settings#######
export INFRASTRUCTURE_REPOSITORY_PROVIDER="github"
export INFRASTRUCTURE_REPOSITORY_OWNER="wintersys-projects"
export INFRASTRUCTURE_REPOSITORY_USERNAME="wintersys-projects"
export INFRASTRUCTURE_REPOSITORY_PASSWORD="none"

###### Application Repository Settings########
export APPLICATION_REPOSITORY_PROVIDER="github" 
export APPLICATION_REPOSITORY_OWNER="adt-demos" #MANDATORY
export APPLICATION_REPOSITORY_USERNAME="adt-demos" #MANDATORY
export APPLICATION_REPOSITORY_PASSWORD="none" #MANDATORY
export APPLICATION_REPOSITORY_TOKEN="" #MANDATORY

##### System Email Settings#########
export SYSTEM_EMAIL_PROVIDER="" 
export SYSTEM_TOEMAIL_ADDRESS="" 
export SYSTEM_FROMEMAIL_ADDRESS="" 
export SYSTEM_EMAIL_USERNAME="" 
export SYSTEM_EMAIL_PASSWORD="" 
export EMAIL_NOTIFICATION_LEVEL="ERROR"

##### Database Settings######
export DB_PORT="2035"
export DATABASE_INSTALLATION_TYPE="Maria"
export DATABASE_DBaaS_INSTALLATION_TYPE=""
export BYPASS_DB_LAYER="0"

#####Server Settings #######
export REGION="ch-gva-2"
export DB_SIZE="tiny"
export DB_SERVER_TYPE="tiny"
export WS_SIZE="tiny"
export WS_SERVER_TYPE="tiny"
export AS_SIZE="tiny"
export AS_SERVER_TYPE="tiny"
export CLOUDHOST="exoscale"
export MACHINE_TYPE="EXOSCALE"
export SSH_PORT="1035"
export SERVER_TIMEZONE_CONTINENT="Europe"
export SERVER_TIMEZONE_CITY="London"
export USER="root"


#####Build Settings######
export PRODUCTION="1"
export DEVELOPMENT="0"
export BUILD_IDENTIFIER="" #MANDATORY
export NO_AUTOSCALERS="1"

#####Security Settings#####
export ACTIVE_FIREWALLS="3"
export PUBLIC_KEY_NAME="AGILE_TOOLKIT_PUBLIC_KEY"
export SSL_GENERATION_METHOD="AUTOMATIC"
export SSL_GENERATION_SERVICE="LETSENCRYPT"
export SSL_LIVE_CERT="1"
export ALGORITHM="rsa"
export BUILD_MACHINE_VPC="1"
export VPC_IP_RANGE="10.0.0.0/24"

#####Snapshot identifiers#####
export WEBSERVER_IMAGE_ID=""
export AUTOSCALER_IMAGE_ID=""
export DATABASE_IMAGE_ID=""
export GENERATE_SNAPSHOTS=""

#####Build Style#######
export INPARALLEL="0"

#####Monitoring######
export INSTALL_MONITORING_GEAR="0"

