###############################################################################################
# Refer to: ${BUILD_HOME}/templatedconfigurations/specification.md
###############################################################################################
#This template is configured for temporal style builds

#####MANDATORY - The bare minimum set of values that you need to provide to have any chance of a successful build
#####NOT REQUIRED - is not used by the Digital Ocean system

#####Application Settings#########
export APPLICATION="" #MANDATORY
export JOOMLA_VERSION="" 
export DRUPAL_VERSION=""  
export APPLICATION_BASELINE_SOURCECODE_REPOSITORY="" 
export BASELINE_DB_REPOSITORY=""
export APPLICATION_LANGUAGE="PHP" 
export PHP_VERSION="8.4" 
export BUILD_ARCHIVE_CHOICE="hourly"
export APPLICATION_NAME="Demo Application"


#####S3 Datastore Settings#######
export S3_ACCESS_KEY=""  #MANDATORY
export S3_SECRET_KEY=""  #MANDATORY
export S3_HOST_BASE="ams3.digitaloceanspaces.com"
export S3_LOCATION="US" #For digitalocean, this always needs to be set to "US"
export DIRECTORIES_TO_MOUNT="" #This should always be unset for a virgin and baseline deployments
export PERSIST_ASSETS_TO_DATASTORE="0" #This should always be set to 0 for a virgin and baseline deployment

#####OS Settings#########
export BUILDOS="debian" # One of ubuntu|debian
export BUILDOS_VERSION="13" #  24.04 (or later for BUILDOS="ubuntu") | 12 or 13 (for BUILDOS="debian")

######Cloudhost Provider Settings#######
export TOKEN="" #MANDATORY
export ACCESS_KEY=""   #NOT REQUIRED
export SECRET_KEY=""   #NOT REQUIRED
export CLOUDHOST_ACCOUNT_ID="" #NOT REQUIRED

######DNS Settings##########
export DNS_USERNAME=""  #MANDATORY
export DNS_SECURITY_KEY=""    #MANDATORY  (note you need a API token AND account ID here <accountid>:::<api-token> if you use cloudflare - see the spec) 
export DNS_CHOICE="digitalocean" #you will need to set your DNS nameservers according to this choice

#####Webserver Settings########
export WEBSITE_DISPLAY_NAME="" #MANDATORY
export WEBSITE_NAME=""  #MANDATORY
export WEBSITE_URL=""   #MANDATORY
export WEBSERVER_CHOICE="APACHE"
export REVERSE_PROXY_WEBSERVER="APACHE"
export MOD_SECURITY="0"

#####Git settings#####
export GIT_USER="Wintersys ADT User" 
export GIT_EMAIL_ADDRESS="ADTUser@wintersys.uk" 

#####Infrastructure Repository Settings#######
export INFRASTRUCTURE_REPOSITORY_PROVIDER="github"
export INFRASTRUCTURE_REPOSITORY_OWNER="wintersys-projects"
export INFRASTRUCTURE_REPOSITORY_USERNAME="wintersys-projects"

###### Application Repository Settings########
export APPLICATION_REPOSITORY_PROVIDER="github" 
export APPLICATION_REPOSITORY_OWNER="adt-demos" 
export APPLICATION_REPOSITORY_USERNAME="adt-demos" 
export APPLICATION_REPOSITORY_TOKEN="" 

##### System Email Settings#########
export SYSTEM_EMAIL_PROVIDER="" 
export SYSTEM_TOEMAIL_ADDRESS="" 
export SYSTEM_FROMEMAIL_ADDRESS="" 
export SYSTEM_EMAIL_USERNAME="" 
export SYSTEM_EMAIL_PASSWORD="" 
export EMAIL_NOTIFICATION_LEVEL="ERROR"

##### Database Settings######
export DB_PORT="2035"
export DATABASE_INSTALLATION_TYPE="Maria"
export DATABASE_DBaaS_INSTALLATION_TYPE=""
export BYPASS_DB_LAYER="0"

#####Server Settings #######
export REGION="lon1"
export DB_SERVER_TYPE="s-1vcpu-1gb"
export WS_SERVER_TYPE="s-1vcpu-1gb"
export AS_SERVER_TYPE="s-1vcpu-1gb"
export AUTH_SERVER_TYPE="s-1vcpu-1gb"
export RP_SERVER_TYPE="s-1vcpu-1gb"
export CLOUDHOST="digitalocean"
export MACHINE_TYPE="DROPLET"
export SSH_PORT="1035"
export SERVER_TIMEZONE_CONTINENT="Europe"
export SERVER_TIMEZONE_CITY="London"
export USER="root"
export SYNC_WEBROOTS="0"

#####Build Settings######
export PRODUCTION="1"
export DEVELOPMENT="0"
export BUILD_IDENTIFIER=""  #MANDATORY
export NO_AUTOSCALERS="1"
export NO_REVERSE_PROXY="0"
export NO_WEBSERVERS="1"
export MAX_WEBSERVERS="10"
export BUILD_FROM_SNAPSHOT="0"

#####Security Settings#####
export ACTIVE_FIREWALLS="3"
export PUBLIC_KEY_NAME="AGILE_TOOLKIT_PUBLIC_KEY"
export SSL_GENERATION_METHOD="AUTOMATIC"
export SSL_GENERATION_SERVICE="ZEROSSL"
export SSL_LIVE_CERT="1"
export ALGORITHM="ed25519"
export BUILD_MACHINE_VPC="1"
export VPC_IP_RANGE=""  #MANDATORY 
export VPC_NAME="adt-vpc"

######Authentication Server#####
export AUTHENTICATION_SERVER="0"
export NO_AUTHENTICATORS="1"
export AUTH_SERVER_URL=""
export AUTH_DNS_USERNAME=""  
export AUTH_DNS_SECURITY_KEY=""  
export AUTH_DNS_CHOICE="cloudflare"
export USER_EMAIL_DOMAIN=""

#####Multi Region Deployments#####
export MULTI_REGION="0"
export PRIMARY_REGION="0"
export DBaaS_PUBLIC_ENDPOINT=""

#####Build Style#######
export IN_PARALLEL="0"


